@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');

body{
    width: 100vw;
    height: 100vh;
    font-family:'JetBrains Mono', monospace;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #272727;

}

.card{
    position: relative;
    top: 10%;
    width: 40rem;
    height: 40rem;
    box-shadow: 4px 2px 2px black;

}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn{
    background-color: black;
    border-color: black;
}


